<!--<div>
    <h2>OUR MOTTO</h2>
    <h4>Your health is in our heart.</h4>

    <h2>OUR MISSION</h2>
    <h4>To improve the quality of life for patients and families and build a healthier community</h4>

    <h2>OUR VISION</h2>
    <h4>To improve the quality of life for our patients and families and build a healthier community by providing patient centred care in a caring, compassionate and culturally sensitive environment.</h4>
</div>
<mat-divider></mat-divider>
<div>
    <h3>CONTACT</h3>
    <b>OUR LOCATION : </b><span>Shop 6 Coles Westmead 29-33 Darcy Road Westmead 2145</span><br>
    <b>CONTACT US : </b><span>Ph: (02) 9687 4000</span><br>
    <b>PARKING : </b><span>FREE 2 Hours of Secure Parking</span>
</div> -->

<div class="contactDiv">
    <object type="text/html" data="https://www.westmeaddoctors.com.au/location-contact/" width="102%" height="725px">
    </object>
</div>
