<div id="page">
  <div id="header" class="sticky">
    <app-menu></app-menu>
  </div>
    <router-outlet></router-outlet>
  <div id="footer">
      <div class="footer-column-one">
          <h3>HealthEngine</h3>
          <span>HealthEngine</span><br>
          <span>Contact Us</span><br>
          <span>About Us</span><br>
          <span>Practice Services</span><br>
          <span>Privacy and Security</span><br>
          <span>Press Centre</span><br>
          <span>Careers</span><br>
          <span>Health Articles</span><br>
          <span>Mobile App</span><br>
      </div>
      <div class="footer-column-two">
          <h3>Appointments</h3>
          <span>GP Appointments</span><br>
          <span>After Hours GP Appointments</span><br>
          <span>Bulk Billing GP Appointments</span><br>
          <span>Dentist Appointments</span><br>
          <span>Physiotherapist Appointments</span><br>
          <span>Chiropractor Appointments</span><br>
          <span>Psychologist Appointments</span><br>
          <span>List Your Appointments</span><br>
          <span>Cancel Appointment</span><br>
      </div>
      <div class="footer-column-three">
        <h3>Directory</h3>
        <span>Find a Practitioner</span><br>
        <span>List Your Practice</span><br>
        <span>Find a Dentist</span><br>
        <span>Sydney Dentists</span><br>
        <span>Melbourne Dentists</span><br>
        <span>Brisbane Dentists</span><br>
        <span>Online Doctors</span><br>
        <span>Online GPs</span><br>
      </div>
      <div class="footer-column-four">
          <span>&copy; 2020 Priya Technology Solutions</span><br>
          <p>Terms of Use | Privacy Policy</p>
          <a href="http://www.twitter.com/healthengine" target="_blank" rel="noopener noreferrer">
            <img src="https://healthengine.imgix.net/public/images/twitter-icon.png?auto=compress&amp;ixlib=php-3.3.0&amp;or=0" alt="Twitter">
          </a>
          <a href="http://www.facebook.com/healthengine" target="_blank" rel="noopener noreferrer">
            <img src="https://healthengine.imgix.net/public/images/facebook-icon.png?auto=compress&amp;ixlib=php-3.3.0&amp;or=0" alt="Facebook">
          </a>
          <a href="http://www.linkedin.com/company/healthengine" target="_blank" rel="noopener noreferrer">
            <img src="https://healthengine.imgix.net/public/images/linkedin-icon.png?auto=compress&amp;ixlib=php-3.3.0&amp;or=0" alt="LinkedIn">
          </a>
      </div>
  </div>
</div>
