#page {
    height: 100vh;
    width: 100%;
    background-color: azure;
}

#header{
    height:10vh;
    width: 100%;
    background-color: #00adee;
}

#body{
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
  }

#footer{
    background-color: #00adee;
    height: 40%;
    width: 100%;
    margin-top: 10vh;
}

.footer-column-one, .footer-column-two, .footer-column-three{
    width: 20%;
    height: 100%;
    overflow: auto;
    float: left;
    text-align: left;
    color: white;
    padding-left: 25px;
}

.footer-column-one h3, .footer-column-two h3, .footer-column-three h3{
    text-align: center;
}

.footer-column-four{
    height: 50%;
    padding-top: 5%;
    width: 25%;
    overflow: auto;
    float: left;
    color: white;
}

.footer-column-four p{
    text-decoration: underline;
}

.footer-column-four a {
    padding-left: 20px;
}