<div class="TermsAndConditionsDiv">
    <h3>Important Terms and Conditions</h3>
    <ul>
        <li><span>Patient Should reach hospital 15 min prior appointment.</span></li>
        <li><span>Only one person is allowed with patient.</span></li>
        <li><span>Patient and his/her helper should wear mask.</span></li>
        <li><span>If any symptoms of COVID-19, should be informed in advance.</span></li>
        <li><span>Patient and his/her helper should sanitize their hands frequently</span></li>
    </ul>
</div>