h1{
    float: left;
    color: white;
    margin-top: 2vh;
}

button {
    float: right;
    margin-top: 2vh;
    color: white;
}

.logo{
    height: 60px;
    width: 66px;
    float: left;
}

.user {
    color: white !important;
}

.headerMenu {
    background-color: #3f51b5 !important;
}
