table {
    width: 100%;
    
  }

#treatmentDiv {
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: azure;
    height: 90vh;
}

h2 {
    background-color: #f7f7f7 !important;
    text-align: left;
    padding-left: 2%;
    margin-top: 10vh !important;
}

a{
    padding-left: 20px;
}

.card{
    margin-bottom: 30px !important;
}

.mat-form-field-label{
    color: #3f51b5;
}